/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/CartPage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.CartPage_cartPage__wvO8y {
    padding: 2rem;
  }
  
  .CartPage_cartList__6uVlv {
    list-style: none;
    padding: 0;
  }
  
  .CartPage_cartItem__9vTls {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  
  .CartPage_itemImage__qbcNj {
    max-width: 100px;
    margin-right: 1rem;
  }
  
  .CartPage_itemDetails__JsXAE {
    flex-grow: 1;
  }
  
  .CartPage_quantityControl__r3UwN {
    display: flex;
    align-items: center;
  }
  
  .CartPage_quantityControl__r3UwN button {
    margin: 0 0.5rem;
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .CartPage_quantityControl__r3UwN span {
    margin: 0 1rem;
  }
  
  .CartPage_removeButton__INlnp {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
