/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/StoreCard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.StoreCard_card__EQpw1 {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .StoreCard_card__EQpw1 img {
    max-width: 100%;
    height: auto;
  }
  
  .StoreCard_card__EQpw1 button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .StoreCard_card__EQpw1 button:hover {
    background-color: #005bb5;
  }
  
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/NavBar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_navbar__XyM_l {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .NavBar_navbar__XyM_l a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
