/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/StoreCard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.StoreCard_card__EQpw1 {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.StoreCard_imageContainer__xoKEK {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.StoreCard_imageContainer__xoKEK img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.StoreCard_favoriteIcon__thuAn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff6666;
  font-size: 1.5rem;
  box-shadow: inset;
}

.StoreCard_productInfo__9U0_Z {
  margin-top: 15px;
}

.StoreCard_productPrice__B8K6e {
  font-weight: bold;
  color: #333;
}

.StoreCard_addToCartButton__VkFf5 {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.StoreCard_addToCartButton__VkFf5:hover {
  background-color: #005bb5;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/NavBar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_navbar__XyM_l {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .NavBar_navbar__XyM_l a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
